<div class="product">
  <form (ngSubmit) = "onSubmit(pav)" #pav="ngForm">
    <div class="form-group">
      <label for="">Title</label>
      <input type="text" name="title" value="" [(ngModel)] = "product.title">
    </div>
    <div class="forme-group">
      <label for="">Description</label>
      <textarea type="text" name="desc" rows="8" cols="80" [(ngModel)] = "product.desc"></textarea>
    </div>
    <div class="forme-group">
      <label for="">Price</label>
      <input type="number" name="price" value="" [(ngModel)] = "product.price">
    </div>
    <div class="form_group">
      <button type="submit" name="submit">Submit</button>
      <button *ngIf="key"  type="button" class="destroy" (click)="removeProduct()">Delete</button>
    </div>

  </form>
</div>
